@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
//表格相关设置
.tableOutConts{
  .tableConts{
    margin-bottom: 20px;
    .el-table td{
      padding: 0;
    }
  }
  .searchPanel{
    margin-bottom: 20px;
    padding: 20px 20px 0 20px;
    border: 1px solid #ededed;
    border-radius: 3px;
    background: #fcfcfc;
  }

}
.tableControl{
  margin-bottom: 20px;
}
//main-container全局样式
.app-main{
  min-height: 100%;
  .el-scrollbar{
    height: 100%;
    .el-scrollbar__wrap{
      overflow: auto;
    }
  }
}

.app-container {
  padding: 20px;
}
